<%= render 'question_form' %>
<div>
  <span><%= @question.title %></span>
  <br>
  <p>
    <%= markdown(@question.body) %>
  </p>
  <br>
  <span><%= @question.asker %></span>
</div>

<%= button_to "delete", @question, :method=>:delete, :class=>:destroy %>

<h2>Answers:</h2>
  <%= render 'answer_form' %>

 <div>
  <% @answers.each do |answer| %>
  <p>
    <%= markdown(answer.body) %>
  </p>
  <br>
  <span><%= answer.answerer %></span>
  <br>
  <%if !answer.best%>
  <%= button_to "Best Answer", question_answer_path(@question.id, answer.id), :method=>:put %>
  <% else %>
  <p>
    BEST ANSWER
  </p>
  <% end %>
  <span>=======================</span>
  <%end%>
</div>
