<%= render 'question_form' %>
<div>
  <span><%= @question.title %></span>
  <br>
  <p>
    <%= @question.body %>
  </p>
  <br>
  <span><%= @question.asker %></span>
</div>

<%= button_to "delete", @question, :method=>:delete, :class=>:destroy %>

<h2>Answers:</h2>
  <%= render 'answer_form' %>
 <div>
  <% @answers.each do |answer| %>
  <p>
    <%= answer.body %>
  </p>
  <br>
  <span><%= answer.answerer %></span>
  <br>
  <span>=======================</span>
  <%end%>
</div>
